@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.mainTitle {
  font-family: "Asap", sans-serif;
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding: 15px;
}
